html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  /* Impede a rolagem da página inteira */
}

.container {
  width: 100%;
  max-width: 350px;
  /* Largura máxima do iPhone 12 */
  height: 844px;
  /* Altura do iPhone 12 */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  /* Ajusta a direção do layout para vertical */
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #F6F3EC;
  overflow-x: hidden;
}

.texto_imoveis{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  position: relative;
  top: -350px;
}

.botao_adicionar{
  border-radius: 25px;
    padding: 12px 25px;
    font-size: 10px;
    cursor: pointer;
    background-color: #9D6F4D;
    color: #F6F3EC;
    border: none;
    position: relative;
    bottom: -80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.voltar3 {
  width: 20px; /* Largura desejada */
  height: auto; /* Altura automática para manter a proporção */
  position: relative;
  top: -425px;
  left: -130px;
  cursor: pointer;
}